@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --gold-color: #D5B05E;
    --blue-color: #000516;
    --text-color: #000000;
    --font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    background-color: var(--gold-color);
    max-width: 25%;
    min-width: 350px;
    font-family: var(--font-family);
}
h1, label{
    color: var(--blue-color);
    font-weight: bold;
}
h1{
    font-size: 1.5rem;
}
label{
    font-size: 0.8rem;
}
h3{
    color: var(--blue-color);
    font-size: 0.8rem;
}

.link {
    margin: 0px;
    color: #000;
    opacity: 0.63;
    font-size: 11px;
    justify-content: flex-end;
}
.separador{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.linha {
    background-color: #000516;
    height: 1px;
    width: 100%;
    opacity: 40%;
}
.login-alternativo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
}

.dispflex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}